<%= form_for(@requisition) do |f| %>
  <% if @requisition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requisition.errors.count, "error") %> prohibited this requisition from being saved:</h2>

      <ul>
      <% @requisition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :req_id, '申請書編號' %><%= mark_required(@requisition, :req_id) %><br />
    <%= f.text_field :req_id %>
  </div>
  <div class="field">
    <%= f.label :account_name, '戶名' %><%= mark_required(@requisition, :account_name) %><br />
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    <%= f.label :borrowed_at, '調閱日期' %><%= mark_required(@requisition, :borrowed_at) %><br />
    <%= f.date_select :borrowed_at %>
  </div>
  <div class="field">
    <%= f.label :reason_id, '調閱原因' %><%= mark_required(@requisition, :reason_id) %><br />
    
    <%= select("requisition", "reason_id", Reason.all.collect {|r| [ r.content, r.id ] }) %>
	
  </div>
  <div class="field">
    <%= f.label :borrower_id, '調閱人' %><%= mark_required(@requisition, :borrower_id) %><br />
    <select id="borrower_id", name="requisition[borrower_id]">
	  <%= options_from_collection_for_select(Borrower.all, :id, :name, @selected)  %>
	</select>
  </div>
  <div class="field">
    <%= f.label :category_id, '分類' %><%= mark_required(@requisition, :category_id) %><br />
    <select id="category_id", name="requisition[category_id]">
      <%= options_from_collection_for_select(Category.all, :id, :name, @selected)  %>
    </select>
  </div>
  <div class="field">
    <%= f.label :is_borrowed,'調閱中?(打勾代表調閱中)' %><%= mark_required(@requisition, :is_borrowed) %>
    <%= f.check_box :is_borrowed %>
  </div>
  <div class="field">
    <%= f.label :note,'備註' %><%= mark_required(@requisition, :note) %><br />
    <%= f.text_area :note %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
