<h1>貸放中申請書清單，目前共有<%= @requisitions.size %>件</h1>

<table class="table">
  <tr>
    <th class="first">申請書編號</th>
    <th class="first">戶名</th>
    <th class="first">調閱日</th>
    <th class="first">調閱原因</th>
    <th class="first">調閱人</th>
    <th class="first">分類</th>
    <th class="first">調閱中?</th>
    <th class="first">備註</th>
    <th class="first">時間戳記</th>
    <th class="first"></th>
    <th class="first"></th>
  </tr>

<% @requisitions.each do |requisition| %>
  <tr>
    <td nowrap="nowrap"><%= requisition.req_id %></td>
    <td nowrap="nowrap"><%= requisition.account_name %></td>
    <td nowrap="nowrap"><%= requisition.borrowed_at.strftime('%Y/%m/%d') %></td>
    <td nowrap="nowrap"><%= requisition.reason.content %></td>
    <td nowrap="nowrap"><%= requisition.borrower.name %></td>
    <td nowrap="nowrap"><%= requisition.category.name %></td>
    <td><%= check_box_tag "requisition[is_borrowed]", requisition.is_borrowed, requisition.is_borrowed, :readonly=> true %></td>
    <td><%= requisition.note %></td>
    <td><%= requisition.updated_at.strftime('%Y/%m/%d %l:%M%p') %></td>

    <td><%= link_to '編輯', edit_requisition_path(requisition) %></td>
    <td><%= link_to '刪除', requisition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to '申請書清單', requisitions_path %> |
<%= link_to '回到管理介面', admin_index_path %> |
<%= link_to '回到申請書清單', requisitions_path %>