<h1>分類列表</h1>

<table>
  <tr>
    <th>分類名稱</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
   <% if current_user && current_user.is_admin %>
    <td><%= link_to '編輯', edit_category_path(category) %></td>
    <td><%= link_to '刪除', category, :confirm => 'Are you sure?', :method => :delete %></td>
   <% end %>
  </tr>
<% end %>
</table>
<br />

<%= link_to '新增分類', new_category_path %> |
<%= link_to '回到管理介面', admin_index_path %> |
<%= link_to '回到申請書清單', requisitions_path %>
