<div class="user_navigation">
<% if user_signed_in? %>
您好! <%= current_user.email %>
<%= link_to("登出", destroy_user_session_path, :method=>'delete')%>
  <% if current_user.is_admin? %>
    <%= link_to("管理介面", {:controller=>"admin", :action=>"index"} )%>
  <% end %>
<% else %>
<%= link_to "登入", new_user_session_path %>
<%= link_to "註冊", new_user_registration_path %>
<% end %>
</div>