<!DOCTYPE html>
<html>
<head>
  <title>資產管理系統</title>
  <%= stylesheet_link_tag "base", "style", "override" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">資產管理系統</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
         	<%= render :partial => "common/user_nav" %>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> 資產管理系統 by Jiing Studo.</p>
          </div>      
        </div>
      </div>
    </div>    
  </div>
</body>
</html>
